:root {
  --font-mono: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono",
    "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro",
    "Fira Mono", "Droid Sans Mono", "Courier New", monospace;
  --primary-color: #2d2d2d;
  --max-width: 1900px;
}

html { scroll-behavior: smooth; }

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-family: var(--font-mono);
}

input {
  margin-bottom: 1rem;
  margin-top: 0.5rem;
  font-size: 18pt;
  padding: 0.8rem;
  border-radius: 8px;
  border: 2px solid var(--primary-color);
}

button {
  margin-top: 1rem;
  padding: 1rem;
  font-size: 16pt;
  border: none;
  border-radius: 8px;
  background-color: #163779;
  color: white;
  transition: all 200ms;
}

button:hover {
  background-color: #3761bd;
  cursor: pointer;
}
