.header {
  padding: 1.5rem 2.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: var(--max-width);
}

.header nav {
  display: flex;
  gap: 4rem;
  margin-left: 8rem;
  padding-top: 0.8rem;
}

.header nav a {
  text-decoration: none;
  color: var(--primary-color);
  font-size: 20pt;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: auto;
}

.main form {
  display: flex;
  flex-direction: column;
  min-width: 1000px
}

.main label {
  font-size: 14pt;
}

.home {
  display: flex;
  height: 80vh;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 1.5rem 3.8rem;
  gap: 1rem;
  max-width: var(--max-width);
}

.home h2 {
  font-size: 34pt;
  text-align: left;
}

.home img {
  margin-top: -1rem;
}

.home p {
  font-size: 20pt;
  margin-top: 1.5rem;
}

.produto {
  background-color: var(--primary-color);
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.produto > div {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 80%;
  padding: 8rem 12rem;
  color: white;
  max-width: var(--max-width);
}

.produto header {
  font-size: 34pt;
  margin-bottom: 6rem;
}

.produto h3 {
  font-size: 28pt;
}

.contato {
  padding: 6rem;
  min-height: 40vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  width: 100%;
}

.contato h2 {
  font-size: 32pt;
}

.contato form {
  margin-top: 2rem;
  align-self: center;
}

.contato p {
  margin-top: 3rem;
  font-size: 28pt;
  text-align: center;
}